/* COLORS TO USE:
rgba(132,210,214,1)
rgba(255,196,156,1)
rgba(255,250,246,1)
rgba(157,158,158,1)
*/
* {
  font-family: "Open Sans", sans-serif;
  line-height: 110%;
  box-sizing: border-box;
}
html {
  background-color: rgba(255,250,246,1);
}
#cutCorner {
  width: 95%;
  margin: 30px 2.5% 0;
  border-left: 80px solid transparent;
  border-bottom: 50px solid rgba(132,210,214,.35);
  border-right: 80px solid transparent;
}
#manilla {
  width: 95%;
  margin: 0 2.5% 50px;
  padding-bottom: 30px;
  background: linear-gradient(to bottom, rgba(132,210,214,.70) 0%, rgba(132,210,214,.30) 100%);
  box-shadow: 0px 5px 20px -10px rgba(15, 015, 015, 0.55), 0px 87px 80px -100px rgba(15, 015, 015, 0.55), 0px 85px 170px -120px rgba(15, 015, 015, 0.55);
  overflow: hidden; /* can also be "auto" */
}
#pageTitle {
  color: darkblue;
  text-align: center;
}
#pageTitle h1 {
  margin: 0 0 2px 0;
  padding-top: 10px;
}
#pageTitle h3 {
  color: rgba(0,0,108,.7);
  margin: 2px;
}

/****************** INPUT AREA STYLING ******************/
#inputArea {
  padding: 10px;
  margin: 2px 0% 30px;
  width: 100%;
  border-bottom: 3px solid rgba(0,0,108,.7);
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0px 20px 40px -18px rgba(15, 015, 015, 0.75);
  background: linear-gradient(to bottom, rgba(132,210,214,.01) 30%, rgba(132,210,214,.60) 100%);
}
#updateBioText {
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin: 10px 5%;
  width: 90%;
  border: 1px solid darkgrey;
  background-color: rgba(255,250,246,1);
}

/********************** DOM STYLING **********************/
.bluthCard {
  color: red; 
  text-align: center;
  width: 30.33333%;
  min-width: 300px;
  margin: 10px 1.5%;
  height: 800px;
  background-color: rgba(255,250,246, 1);
  border: 3px solid rgba(255,255,255, .1);
  border-radius: 10px;
  box-shadow: 0px 15px 40px -20px rgba(15, 015, 015, 0.75);
  transform: rotate(-2deg)scale(.96);
  display: inline-block;
  float: left;
  transition: .5s;
}
h2 {
  margin: 5px;
}
h4 {
  margin: 5px;
  color: rgba(0,0,108,.7);
}
section img {
  width: 95%;
  margin: 2.5%;
  border-radius: 20px 0;
}
.dosierPhoto {
  height: 450px;
  object-fit: cover; /*ties in to the WITDH set in the "section img" styling above*/
  object-position: 50% 10%; /* default value: image is centered  (1st L-R / 2nd Top-Bot.)*/ 
}
#bluthAbout {
  font-size: .9rem;
  text-align: justify;
  width: 95%;
  margin: 2px 2.5%;
}
.bluthLife {
  font-size: 1.1rem;
  padding: 10px;
  font-family: Impact;
  margin: 2px 5px;
  /*transform: rotate(-15deg);*/
}
footer p {
  display: inline-block;
}

/****************** Even/Odd Card Styling ******************/
/* BG to Yellow */
.bluthCard:nth-of-type(even) {
  background-color: lightgoldenrodyellow;
  transform: rotate(1.5deg) scale(.96);
}
/* BG to Blue */
.bluthCard:nth-of-type(odd) {
  background-color: azure;
  transform: rotate(-1deg) scale(.96);
  /*background-color: yellow;*/
}
.bluthCard:nth-of-type(2n+3) {
  transform: rotate(-1.5deg) scale(.96);
  /*background-color: red;*/
}
.bluthCard:nth-of-type(4n+0) {
  transform: rotate(0deg) scale(.96);
  /*background-color: blue;*/
}


/****************** onClick Card Styling ******************/
.borderTown {
  border: 3px dotted midnightblue;
  box-shadow: 0px 10px 20px -5px rgba(15, 015, 015, 0.85);

}